body {
  background: #22282A;
  color: #F1F2F3;
  font-family: Arial, Helvetica, sans-serif;
}

div#container {
  width: 100%;
  padding: 20px;
}

canvas#game {
  border: 5px solid #F1F2F3;
}

div#controls {
  margin-top: 5px;
}